header {
	padding: 1em;
	color: white;
	background-color: grey;
	margin:10px;}
form {
	margin:20px;
}
h2 {
	margin:10px;
	padding: 0,8em;
	color: white;
	background-color: grey;
	clear:left}
table, th, td {
	border-collapse: collapse;
	margin:30px;
	width:50%; 
	border: 1px solid black;
	background-color:silver;
	text-align: left;
	}
dropdown {
	position: relative;
	display: inline-block;
	float:left;
	}
   	.dropdown-content {
	    display: none;
	    position: absolute;
	    right: 0;
	    background-color: #f9f9f9;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	    left:0;
	}
				
	.dropdown-content a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	}
				
	.dropdown-content a:hover {background-color: #f1f1f1}
		.dropdown:hover .dropdown-content {
	    display: block;
	}
